
<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}  
  
  {{ content_for_header }} <!-- Header hook for plugins -->
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/9bf4b1c8d6.js" crossorigin="anonymous"></script>

  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'overwrite_bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}

  {% comment %}{{ 'panda.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {% comment %}{{ 'panda.js' | asset_url | script_tag }}  {% endcomment %}

  {% if template == 'index' %}
  {{ 'index.js' | asset_url | script_tag }}
  {% endif %}

  {% if template == 'article' or template == 'product' %}
  {{ 'magnify_images.js' | asset_url | script_tag }}
  {% endif %}
  
</head>

<body id="body">  
  {% section 'header' %}     
  {% comment %}{% section 'panda' %}{% endcomment %}
  <div class="container main-content-wrapper"> 
    {{ content_for_layout }}
  </div>   
  {% section 'footer' %}
</body>
</html>



