<div class="row mb-5">
  
  <div class="col-12">
    <div class="card">
      
      <div class="card-header">
        <div class="d-flex">
          <div class="d-inline-block">
            <h3 class="mb-0 line-50">{{section.settings.card_title}}</h3>
          </div>
          {% if section.settings.header_image %}
          <div class="d-inline-block ml-auto">
            <img src="{{ section.settings.header_image | img_url: '50xauto' }}" alt="" height="50" class="">
          </div>
          {% endif %}                     
        </div>
      </div>          
          
      <div class="card-body">      
        
        {% for block in section.blocks %}       

        <div class="row {% if forloop.index != 1 %}mt-3{%endif%}">          
          
          {% if block.settings.image %}
          <div class="col-12 col-lg-6 {% if block.settings.layout == 'right' %}  order-12 order-lg-1 {% else %} order-12 order-lg-0 {% endif %} my-auto">
            <img src="{{ block.settings.image | img_url: '900x900' }}" alt="" class="d-block img-fluid centered-content max-height-200 mt-2"> 
          </div>          
          {% endif %}
          <div class="col-12 {% if block.settings.image %} col-lg-6 {% endif %} initiatives my-auto">

            {% if block.settings.title != blank %}
            <div class="row">
              <div class="col-12 text-left">
                <h3>{{ block.settings.title | escape }}</h3>        
              </div>
            </div>        
            {% endif %} 

            {% if block.settings.text != blank %}
            <div class="row">
              <div class="col-12 text-left concise-text">
                {{ block.settings.text }}
              </div>
            </div>  
            {% endif %}      

          </div>  

        </div>   

        {% if forloop.last == false %}
        <hr>
        {% endif %}

        {% endfor %}


      </div>  
    </div>
  </div>
</div>

{% schema %}
{
   "name":{
      "en":"Card"
   },
   "settings":[
        
      {
         "type":"text",
         "id":"card_title",
         "label":{
            "en":"Heading"
         },
         "default":{
            "en":"Title"
         }
      },
      {
        "type":"image_picker",
        "id":"header_image",
        "label":{
           "en":"Image"
        }
      }
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Image with text"
         },
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":{
                  "en":"Image"
               }
            },
            {
               "type":"select",
               "id":"layout",
               "label":{
                  "en":"Image alignment"
               },
               "default":"left",
               "options":[
                  {
                     "value":"left",
                     "label":{
                        "en":"Left"
                     }
                  },
                  {
                     "value":"right",
                     "label":{
                        "en":"Right"
                     }
                  }
               ]
            },
            {
               "type":"text",
               "id":"title",
               "label":{
                  "en":"Heading"
               },
               "default":{
                  "en":"Image with text"
               }
            },
            {
               "type":"richtext",
               "id":"text",
               "label":{
                  "en":"Text"
               },
               "default":{
                  "en":"<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Card"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[            
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            }
         ]
      }
   ]
}
{% endschema %}
