
<div class="row centered-content mb-5">    
  <div class="col-12 {% if section.settings.layout == 'left' %} text-left {% elsif section.settings.layout == 'center' %} text-center {% else %} text-right {% endif %}">
    <h2><a href="{{section.settings.link_url}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 btn btn-secondary btn-lg btn-block text-truncate mt-auto text-color-light centered-content" {% if section.settings.new_tab == "yes" %} target="_blank" {% endif %}>{{section.settings.link_text}}</a></h2>
  </div>
</div>


{% schema %}
{
   "name":{
      "en":"Custom link"
   },
   "class":"index-section",
   "settings":[      
      {
         "type":"select",
         "id":"layout",
         "label":{
            "en":"Text Alignment"
         },
         "default":"left",
         "options":[
            {
               "value":"left",
               "label":{
                  "en":"Left"
               }
            },
            {
               "value":"center",
               "label":{
                  "en":"Center"
               }
            },                  
            {
               "value":"right",
               "label":{
                  "en":"Right"
               }
            }
         ]
      },
      {
         "type":"text",
         "id":"link_url",
         "label":{
            "en":"URL Link"
         },
         "default":{
            "en":"/"
         }
      },
      {
         "type":"text",
         "id":"link_text",
         "label":{
            "en":"Link text"
         },
         "default":{
            "en":"Show More"
         }
      },
       {
         "type":"select",
         "id":"new_tab",
         "label":{
            "en":"Open link in a new Tab"
         },
         "default":"no",
         "options":[
            {
               "value":"yes",
               "label":{
                  "en":"Yes"
               }
            },
            {
               "value":"no",
               "label":{
                  "en":"No"
               }
            }
         ]
      }            
   ],
   "presets":[
      {
         "name":{
            "en":"Custom link"
         },
         "category":{
            "en":"text"
         }
      }
   ]
}
{% endschema %}
