
<nav id="top-navigation" class="top-navigation navbar navbar-expand-md bg-color-dark navbar-dark fixed-top">
  <div class="navbar-brand mr-auto"><a href="/" ><img src="{{ section.settings.image | img_url: '50x50' }}" alt=""></a></div>                      
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav bg-color-dark ">            
      {% for link in linklists[section.settings.main_linklist].links %}
      
        <li class="nav-item">
          <a href="{{link.url}}" class="nav-link text-color-light">{{ link.title | escape }}</a>              
        </li>              
      {% endfor %}               
    </ul>
  </div>  
</nav>      

{% schema %}
{
  "name": {    
  "en": "Header"    
},
"settings": [         
{
         "type":"image_picker",
         "id":"image",
         "label":{
            "en":"Image"
         }
      },
{
  "type": "link_list",
  "id": "main_linklist",
  "label": {        
  "en": "Menu"        
},
"default": "main-menu"
}    
]
}
{% endschema %}
