   <div id="slider">
      <div class="panda-left-ear"></div>
      <div class="panda-right-ear"></div>
      <div class="panda-head"></div>     
      <div class="panda-left-eye"></div>
      <div class="panda-right-eye"></div>
      <div class="panda-mouth"></div>
      <div class="bubble bubble-bottom-left">Thanks for stopping by!</div>
   </div> 

   