
<div class="row justify-content-center mb-5">  
  {% for block in section.blocks %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4 align-items-stretch d-flex">
      <div class="card h-100">               
        <img class="img-responsive card-img-top item-img-preview" src="{{ block.settings.preview_image | img_url: '1000x1000' }}"/>               
        <div class="card-body item-backgorund card-block d-flex flex-column">
          <h4 class="card-title">{{ block.settings.project_name }}</h4>    
          <div class="row">
            <div class="col-12">
              {{ block.settings.project_description }}                                         
            </div>
          </div>      
          <button type="button" class="btn btn-secondary btn-lg btn-block text-truncate mt-auto " data-toggle="modal" data-target="#portfolio_modal_{{block.id}}" >{{ block.settings.button_label }}</button>                        
          <div class="modal" id="portfolio_modal_{{block.id}}">
            <div class="modal-dialog">
              <div class="modal-content">              
                <div class="modal-header">
                  <h4 class="modal-title">{{ block.settings.project_name }}</h4>
                  <span data-dismiss="modal" class="modal-close-btn">
                    <span aria-hidden="true">&times;</span>
                  </span>
                </div>                     
                <div class="modal-body"> 
                  <div class="container">
                    <div class="row justify-content-center text-center centered-content mb-3">                               
                      <img class="portfolio-item-view-img img-responsive img-fluid" src="{{ block.settings.main_image | img_url: '1000x1000' }}"/>
                    </div>
                    <div class="row">
                      <div class="container">
                        <div>{{ block.settings.full_project_description }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>           
    </div>              
  {% endfor %}
</div>


{% schema %}
{
   "name":{
      "en":"Portfolio modal"
   },
   "settings":[      
      {
         "type":"select",
         "id":"align_text",
         "label":{
            "en":"Text alignment"
         },
         "default":"left",
         "options":[
            {
               "value":"left",
               "label":{
                  "en":"Left"
               }
            },
            {
               "value":"center",
               "label":{
                  "en":"Centered"
               }
            }
         ]
      }
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Modal"
         },
         "settings":[
            {
               "type":"image_picker",
               "id":"preview_image",
               "label":{
                  "en":"Preview image"
               }
            },
            {
               "type":"image_picker",
               "id":"main_image",
               "label":{
                  "en":"Main image"
               }
            },
            {
               "type":"text",
               "id":"project_name",
               "label":{
                  "en":"Heading"
               },
               "default":{
                  "en":"Project name"
               }
            },
            {
               "type":"richtext",
               "id":"project_description",
               "label":{
                  "en":"Excerpt"
               },
               "default":{
                  "en":"<p>Completed a really cool project which has had a great impact!</p>"
               }
            },
            {
               "type":"richtext",
               "id":"full_project_description",
               "label":{
                  "en":"Full project description"
               },
               "default":{
                  "en":"<p>More elaborate descrpition of this awesome project!</p>"
               }
            },
            {
               "type":"text",
               "id":"button_label",
               "label":{
                  "en":"Button label"
               },
               "default":{
                  "en":"View"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Portfolio Modal"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[            
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            }
         ]
      }
   ]
}
{% endschema %}
