
<div class="remove-container" style="background-color: {{section.settings.background_color}};" id="products">  
  <div class="container pt-2 pb-2">
  {% for block in section.blocks %}
  <div class="row mb-5">         
      
      {% if block.settings.title != blank %}
          <div class="col-12 text-left">
            <h2>{{ block.settings.title | escape }}</h2>        
          </div>
        {% endif %} 

      <div class="col-12 col-lg-6 {% if block.settings.layout == 'right' %} order-12 order-lg-1 {% endif %}">
         <img src="{{ block.settings.image | img_url: '900x900' }}" alt="" class="img-thumbnail img-fluid centered-content"> 
      </div>      

      <div class="col-12 col-lg-6 initiatives my-auto">       

        {% if block.settings.text != blank %}
        
        <div class="row centered-content text-center mt-2">
          
          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-file"></i></span>
            <p>Single Page Portfolio Theme.</p>
          </div>

          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-cogs"></i></span>
            <p>Fully customizable using drag & drop.</p>
          </div>

          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-mobile"></i></span>
            <p>Responsive & Mobile first design.</p>
          </div>

          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-bolt"></i></span>
            <p>Advanced interactivity features.</p>
          </div>

          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-palette"></i></span>
            <p>Showcase your portfolio.</p>
          </div>

          <div class="col-6 col-md-6 col-lg-4 text-center">
            <span class="btn btn-outline-light btn-social text-center rounded-circle"><i class="fa fa-heart"></i></span>
            <p>Social media sharing.</p>
          </div>
        </div>  
        
        {% endif %}    
        {% if block.settings.call_to_action and block.settings.cta_text != '' %}  
        <div class="row mt-2">
          <div class="col-12">
            <a href="{{ block.settings.cta_url }}" class="btn btn-secondary btn-lg btn-block text-color-light text-truncate mt-auto">{{block.settings.cta_text}}</a>                
          </div>
        </div>
      {% endif %}
      </div>  
    </div> 
    
  {% endfor %}
</div>
</div>

{% schema %}
{
   "name":{
      "en":"Portfolio Tree"
   },
   "settings":[
   {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      }
    }
     
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Image with text"
         },
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":{
                  "en":"Image"
               }
            },
            {
               "type":"select",
               "id":"layout",
               "label":{
                  "en":"Image alignment"
               },
               "default":"left",
               "options":[
                  {
                     "value":"left",
                     "label":{
                        "en":"Left"
                     }
                  },                  
                  {
                     "value":"right",
                     "label":{
                        "en":"Right"
                     }
                  }
               ]
            },
            {
              "type": "checkbox",
              "id": "call_to_action",
              "label": "Show button"              
            },
            {
               "type":"text",
               "id":"cta_text",
               "label":{
                  "en":"Button text"
               },
               "default":{
                  "en":"View"
               }
            },
            {
               "type":"text",
               "id":"cta_url",
               "label":{
                  "en":"Button URL"
               },
               "default":{
                  "en":"/"
               }
            },
            {
               "type":"text",
               "id":"title",
               "label":{
                  "en":"Heading"
               },
               "default":{
                  "en":"Image with text"
               }
            },
            {
               "type":"richtext",
               "id":"text",
               "label":{
                  "en":"Text"
               },
               "default":{
                  "en":"<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Portfolio Tree Feautred"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[            
            {
               "type":"text_block"
            }
         ]
      }
   ]
}
{% endschema %}

