<div class="rabbit-canvas-wrapper rabbit-toggle rabbit-waving-ears rabbit-blinking">
    <div class="rabbit-wrapper">
        <div class="rabbit-wrapper-inner">
            
            <div class="rabbit-ears left"></div>
            <div class="rabbit-ears right"></div>

            <div class="rabbit-body">
            </div>

            <div class="rabbit-eyes left"></div>
            <div class="rabbit-eyes right"></div>

            <div class="rabbit-cheek left"></div>
            <div class="rabbit-cheek right"></div>

            <div class="rabbit-nose"></div>

            <div class="rabbit-mouth left"></div>
            <div class="rabbit-mouth right"></div>
     
        </div>

    </div>
</div>