

<div class="row justify-content-center text-center mb-5" >                                  
  
  <div class="col-12 col-lg-6 {% if section.settings.layout == 'right' %} order-12 order-lg-1 mt-3 mt-lg-0 {% endif %}">
    
    
    <div id="carousel-{{section.id}}" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner" role="listbox">

       {% for block in section.blocks %}      

       <div class="carousel-item carousel-img{% if forloop.index == 1 %} active {% endif %}">               
        <div class="row justify-content-center text-center">        
         <img src="{{ block.settings.image | img_url: '900x900' }}" alt="" class="d-block img-fluid centered-content {% if section.settings.img_size == 'small' %} max-height-100 height-100 {% else %} max-height-200 height-200 {% endif %}">
       </div>
     </div>         

     {% endfor %}  

   </div>

   <a class="carousel-control-prev next-arrow1" href="#carousel-{{section.id}}" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </a>
   <a class="carousel-control-next next-arrow1" href="#carousel-{{section.id}}" role="button" data-slide="next">
     <span class="carousel-control-next-icon"></span>
   </a>
   
 </div> 
 

</div>


<div class="col-12 col-lg-6 my-auto">
  
  {% if section.settings.title != "" %}
  <div class="row {% if section.settings.layout == 'left' %} mt-3 mt-lg-0 {% endif %}">
    <div class="col-12 text-left center-text-mobile">
      <h2>{{ section.settings.title | escape }}</h2>        
    </div>
  </div>        
  {% endif %} 
  
  {% if section.settings.text != "" %}
  <div class="row {% if section.settings.title == '' and section.settings.layout == 'left' %} mt-3 mt-lg-0{% endif %}">
    <div class="col-12 text-left concise-text center-text-mobile row-carousel-text">
      {{ section.settings.text }}
    </div>
  </div>  
  {% endif %}      

</div>  

</div>   



{% schema %}
{
 "name":{
 "en":"Carousel with Text"
},
"settings":[
{
 "type":"select",
 "id":"layout",
 "label":{
 "en":"Image alignment"
},
"default":"right",
"options":[
{
 "value":"left",
 "label":{
 "en":"Left"
}
},
{
 "value":"right",
 "label":{
 "en":"Right"
}
}
]
},
{
  "type": "radio",
  "id": "img_size",
  "label": {
  "en": "Image Size"        
},
"default": "large",
"options": [
{
  "value": "small",
  "label": {            
  "en": "small"            
}
},
{
  "value": "large",
  "label": {            
  "en": "large"            
}
}
]
},
{
 "type":"text",
 "id":"title",
 "label":{
 "en":"Heading"
},
"default":{
"en":"Carousel with Text"
}
},
{
 "type":"richtext",
 "id":"text",
 "label":{
 "en":"Text"
},
"default":{
"en":"<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
}
}

],
"blocks":[
{
 "type":"image",
 "name":{
 "en":"Image"
},
"settings":[
{
 "type":"image_picker",
 "id":"image",
 "label":{
 "en":"Image"
}
}                        
]
}
],
"presets":[
{
 "name":{
 "en":"Carousel with Text"
},
"category":{
"en":"Text"
},
"blocks":[            
{
 "type":"image"
},
{
 "type":"image"
},
{
 "type":"image"
}
]
}
]
}
{% endschema %}
