
<div class="jumbotron mb-5 remove-container" id="{{section.settings.section_id}}">     
  
  {% if section.settings.image %}
     <div class="row justify-content-center">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mb-2">                        
          <img src="{{ section.settings.image | img_url: '873x311' }}" alt="" class="d-block img-responsive img-fluid centered-content brand-image"/>                   
        </div>
    </div>
  {% endif %}

  {% if section.settings.title %}
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      <h3>{{ section.settings.title }}</h3>
    </div>
  </div>  
  {% endif %}

  {% if section.settings.text %}
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      {% if section.settings.text_quote %}
      <blockquote class="blockquote">
        <p>{{ section.settings.text }}</p>
      </blockquote>
      {% else %}
      <p>{{ section.settings.text }}</p>
      {% endif %}       
    </div>
  </div>  
  {% endif %}

</div>   

{% schema %}
{
   "name":{
      "en":"Section highlight"
   },
   "class":"index-section",
   "settings":[
      {
         "type":"image_picker",
         "id":"image",
         "label":{
            "en":"Image"
         }
      },
      {
         "type":"text",
         "id":"section_id",
         "label":{
            "en":"Section ID"
         },
         "default":{
            "en":"my_section"
         }
      },
      {
         "type":"text",
         "id":"title",
         "label":{
            "en":"Title"
         },
         "default":{
            "en":"Section Introduction"
         }
      },

      {
         "type":"richtext",
         "id":"text",
         "label":{
            "en":"Text"
         },
         "default":{
            "en":"<p>Lorem ipsum more text</p>"
         }
      },
      {
        "type": "checkbox",
        "id": "text_quote",
        "label": "Show text as quote"              
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Section introduction"
         },
         "category":{
            "en":"text"
         }
      }
   ]
}
{% endschema %}
