  
  <div class="row">
    <div class="col-12 center-text-mobile">
      {% if section.settings.title  %}             
        <h1>{{ section.settings.title }}</h1>      
      {% endif %}
    </div>
  </div>
  
<div class="row mb-5">    
  {% for article in blogs.articles.articles  %}
  
  {% if forloop.index < 9 or section.settings.all_articles %}
  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-4 align-items-stretch article-mobile-view">
   <a href="{{ article.url }}"> 
    <div class="card h-100 w-100">
      <img class="img-responsive img-fluid card-img-top height-250" src="{{article.image | img_url: '900x900'}}"/ >            
      <div class="card-body item-backgorund text-left card-block d-flex flex-column">
        <h4 class="card-title text-color">{{ article.title}}</h4>             
      </div>  
    </div>  
  </a>               
</div>       
{% endif %}

{% endfor %}          
</div>

<div class="row centered-content mb-5">    
  <div class="col-12 center-text-mobile">
    <h2><a href="{{section.settings.link_url}}" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 {% if section.settings.layout == 'center' %} centered-content {% endif %} btn btn-secondary btn-lg btn-block text-truncate text-color-light" {% if section.settings.new_tab == "yes" %} target="_blank" {% endif %}>{{section.settings.link_text}}</a></h2>
  </div>
</div>



{% schema %}
{
   "name":{
      "en":"Articles"
   },
   "class":"index-section",
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":{
            "en":"Title"
         },
         "default":{
            "en":"Latest Articles"
         }
      },
        {
         "type":"select",
         "id":"layout",
         "label":{
            "en":"Text Alignment"
         },
         "default":"left",
         "options":[
            {
               "value":"left",
               "label":{
                  "en":"Left"
               }
            },
            {
               "value":"center",
               "label":{
                  "en":"Center"
               }
            }
         ]
      },
      {
         "type":"text",
         "id":"link_url",
         "label":{
            "en":"URL Link"
         },
         "default":{
            "en":"/"
         }
      },
      {
         "type":"text",
         "id":"link_text",
         "label":{
            "en":"Link text"
         },
         "default":{
            "en":"Show More"
         }
      },
       {
         "type":"select",
         "id":"new_tab",
         "label":{
            "en":"Open link in a new Tab"
         },
         "default":"no",
         "options":[
            {
               "value":"yes",
               "label":{
                  "en":"Yes"
               }
            },
            {
               "value":"no",
               "label":{
                  "en":"No"
               }
            }
         ]
      }            
   ],
   "presets":[
      {
         "name":{
            "en":"Articles"
         },
         "category":{
            "en":"text"
         }
      }
   ]
}
{% endschema %}
