 <div class="row justify-content-center full-width social-media-links mt-2 mb-4">
  <div class="col-12">
    <ul class="list-inline centered-content">               
     <li class="list-inline-item">
      <a href='https://www.linkedin.com/in/frantisek-friedl/' target="_blank" class='btn btn-outline-dark btn-social text-center rounded-circle'><i class="fa fa-linkedin"></i></a>
    </li>       
    <li class="list-inline-item">
      <a href='https://github.com/FrantaF' target="_blank" class='btn btn-outline-dark btn-social text-center rounded-circle'><i class="fa fa-github"></i></a>
    </li>       
    <li class="list-inline-item">
      <a href='https://bitbucket.org/account/user/selfquantedcom/projects/PRF' target="_blank" class='btn btn-outline-dark btn-social text-center rounded-circle'><i class="fa fa-bitbucket"></i></a>
    </li>                            
  </ul>                
</div>  
</div>         