

<div class="row justify-content-center text-center mb-5" >                                  
  <div class="col-12">      
    <div id="carousel-{{section.id}}" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner" role="listbox">

       {% for block in section.blocks %}      
       <div class="carousel-item {% if forloop.index == 1 %} active {% endif %}">               
        <div class="row justify-content-center text-center mb-5 my-auto" >                                  
          {% if block.settings.image %}
          <div class="col-12 col-lg-3 {% if section.settings.layout == 'right' %} order-12 order-lg-1 {% endif %}">
            <div class="row justify-content-center text-center">        
             <img src="{{ block.settings.image | img_url: '900x900' }}" alt="" class="d-block img-fluid rounded-circle centered-content {% if section.settings.img_size == 'small' %} max-height-100 {% else %} max-height-250 {% endif %}"> 
           </div>
         </div>         
         {% endif %}

         <div class="col-12 {% if block.settings.image %} col-lg-6 {% else %} col-lg-8 {% endif %} my-auto">          

          {% if block.settings.text != blank %}
          <div class="row">
            <div class="col-12 concise-text">
              {{ block.settings.text }}
            </div>
          </div>  
          {% endif %}      

          {% if block.settings.title != blank %}
          <br>
          <div class="row">
            <div class="col-12 testimonial-client text-color">
              {{ block.settings.title }}
            </div>
          </div>        
          {% endif %} 

        </div> 
      </div>
    </div>   
    {% endfor %}  

    <a class="carousel-control-prev next-arrow1" href="#carousel-{{section.id}}" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </a>
   <a class="carousel-control-next next-arrow1" href="#carousel-{{section.id}}" role="button" data-slide="next">
     <span class="carousel-control-next-icon"></span>
   </a>

 </div> 

</div>
</div>
</div>


{% schema %}
{
   "name":{
      "en":"Testimonials"
   },
   "settings":[
      {
         "type":"select",
         "id":"layout",
         "label":{
            "en":"Image alignment"
         },
         "default":"right",
         "options":[
            {
               "value":"left",
               "label":{
                  "en":"Left"
               }
            },
            {
               "value":"right",
               "label":{
                  "en":"Right"
               }
            }
         ]
      },
      {
         "type":"radio",
         "id":"img_size",
         "label":{
            "en":"Image Size"
         },
         "default":"large",
         "options":[
            {
               "value":"small",
               "label":{
                  "en":"small"
               }
            },
            {
               "value":"large",
               "label":{
                  "en":"large"
               }
            }
         ]
      }
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Image"
         },
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":{
                  "en":"Image"
               }
            },
            {
               "type":"richtext",
               "id":"title",
               "label":{
                  "en":"Client description"
               },
               "default":{
                  "en":"<p>Name Surname - position at a company</p>"
               }
            },
            {
               "type":"richtext", 
               "id":"text",
               "label":{
                  "en":"Quote"
               },
               "default":{
                  "en":"<p>'Quote'</p>"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Testimonials"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[
            {
               "type":"text_block"
            }       
         ]
      }
   ]
}
{% endschema %}
