// Sample color scheme: "dark_color"=>"#3a3a3a", "cta_color"=>"#6c757d", "highlight_section_color"=>"#e9ecef", "accent_color"=>"#f7f7f7", "light_color"=>"#ffffff"
// Reset and Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

{% comment %}{{ settings.global_font | font_face }}
{% assign font_settings = settings.global_font | font_face  %}{% endcomment %}

#body{
  {% comment %}font-family: {{font_settings.family}};{% endcomment %}
  font-size: {{settings.font_base_size }}px!important;
  font-family: 'PlayfairDisplay-Regular'!important;
  background-color: {{settings.light_color}}!important; 
  color: {{settings.text_color}}!important;
}

a {
   color: {{settings.text_color}}!important;
}

// Utility classes
.bg-color-dark{
   background-color: {{settings.dark_color}}!important;
}

.bg-color-cta{
   background-color: {{settings.cta_color}}!important;   
}

.bg-color-section-highlight{
   background-color: {{settings.hihglight_section_color}}!important;
}

.bg-color-accent {
   background-color: {{settings.accent_color}}!important;
}

.bg-color-light {
   background-color: {{settings.light_color}}!important;
}

.text-color {
  color: {{settings.text_color}}!important;
}

.text-color-light {
  color:{{settings.light_color}}!important; 
}

.underline-link{  
  text-decoration: underline;
}

.centered-content{
 margin: auto;
}

.text-left{
   text-align: left;
}

.text-right{
   text-align: right;
}

text-center{
  text-align: center;
}

.display-none{
  display: none;
}

.full-width{
  width: 100%;
 }

.img-height-70{
  height:70px;  
}

.height-80 {
  height: 80px;
}

.height-100{
  height: 100px;
}

.max-height-100{
  max-height: 100px;
}

.height-250{
  height: 250px;
}

.max-height-200{
  max-height: 200px;  
}

.max-full-width {
  max-width: 100%; 
}

.no-padding{
  padding: 0px 0px 0px 0px!important
}

.remove-container{
  width: 100vw;
  position: relative;
  margin-left: -50vw;    
  left: 50%;
}

.pointer {
  cursor: pointer;  
}

// Container
.main-content-wrapper{
  margin-top: 68px;
  min-height: 76vh;
}

// Navigation bar
.top-navigation{
  height: 68px;
}

.top-navigation a:hover, .nav li:hover {
   background-color: {{settings.cta_color}};   
}

.navbar-collapse ul{
  padding: 10px!important;
}

.navbar{
  padding: 0px!important;
}

.navbar-brand{
  padding: 5px!important;
}

.brand-image{
  max-height: 110px;
}

// Footer
footer{
  color: white;   
}

footer .btn:hover {
   background-color: {{settings.light_color}}!important;   
}

.social-media-links{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

// Images
.img-fluid:not(_){
   max-width: 100%!important;
}
 
 .img-preview:not(_){
  max-width: 350px;   
  display: block;
  margin: auto; 
 }

 
// Carousel
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

// Section Highlight
.jumbotron .home-page-title{
  font-size: 1.5rem;
}


// Modal
.modal-close-btn{
 font-size: 1.6rem;
 cursor: pointer;
}

.modal-dialog{
 max-width: 95%!important;
}

.portfolio-item-view-img{
 max-width: 600px;
}

.modal-content{
  background-color: {{settings.light_color}};
}

// Section Card
.card-header ul{
 list-style: none;
}

.portfolio-icons .fa{
  font-size: 50px;
  margin-right: 2%;
}

.portfolio-icons .icon{
  font-size: 50px;
  margin-right: 2%;
}

.qualifications img{
  max-width: 150px;
}

// Section testimonial
.testimonial-client p{  
  text-decoration: underline;
}

.concise-text p{
  padding: 0px;
  margin: 0px;
  line-height: 2;
}

li{
  line-height: 2;
}

// Mobile View
@media only screen and (min-width: 768px) {
  .item-img-preview {
     width: 100%;
     height: 15vw;
     max-height: 168px;
     object-fit: cover;
   }
 }

// xs by Bootstrap
@media only screen and (max-width: 576px) {
  
  .center-text-mobile {
      text-align: center!important;
   }

  .article-mobile-view {
      margin-left: 16.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
   }
 }

// Smaller than Bootstrap xs
@media only screen and (max-width: 456px) {
  .article-mobile-view {
      margin-left: 8.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
   }
 }


 




 