
/* Overwrite default Bootstrap classes with Theme Settings */
.btn{
   background-color: {{settings.cta_color}}!important;
   border-color: {{settings.cta_color}}!important;
}

.btn:hover {
   background-color: {{settings.dark_color}}!important;
}

.jumbotron{
   background-color: {{settings.hihglight_section_color}}!important;
}

.item-backgorund{ 
   background-color: {{settings.accent_color}}!important;
}

.card-header{
   background-color: {{settings.accent_color}}!important;
}

.card-body{
   background-color: {{settings.light_color}}!important;
}

.card{
   background-color: {{settings.light_color}}!important;
}