:root {
 /* Only configure those 2 values */
 --panda-head-position-left: 50px;
 --panda-head-position-top: 150px;
 /* Config End */

 --panda-right-ear-position-left: calc(var(--panda-head-position-left) + 150px);
 --panda-right-ear-position-top: var(--panda-head-position-top);

 --panda-left-eye-position-left: calc(var(--panda-head-position-left) + 50px);
 --panda-left-eye-position-top: calc(var(--panda-head-position-top) + 50px);

 --panda-right-eye-position-left: calc(var(--panda-head-position-left) + 125px);
 --panda-right-eye-position-top: calc(var(--panda-head-position-top) + 50px);

 --panda-mouth-position-left: calc(var(--panda-head-position-left) + 70px);
 --panda-mouth-position-top: calc(var(--panda-head-position-top) + 125px);

 --panda-bubble-position-left: calc(var(--panda-head-position-left) + 200px);
 --panda-bubble-position-top: calc(var(--panda-head-position-top) - 100px);

}


/* Panda */
.panda-head {
 position: absolute;
 z-index: 2;
 top: var(--panda-head-position-top);
 left: var(--panda-head-position-left);
 width: 200px;
 height: 200px;
 border:  1px solid;
 border-radius: 50%;
 background-color: #fff;
}

.panda-left-ear {
 position: absolute;
 z-index: 1;
 top: var(--panda-head-position-top);
 left: var(--panda-head-position-left);
 width: 50px;
 height: 50px;
 border:  1px solid;
 border-radius: 50%;   
 background-color: #000;
}

.panda-right-ear {
 position: absolute;
 z-index: 1;
 left: var(--panda-right-ear-position-left);
 top: var(--panda-right-ear-position-top);
 width: 50px;
 height: 50px;
 border:  1px solid;
 border-radius: 50%;   
 background-color: #000;
}

.panda-left-eye {
 position: absolute;
 z-index: 3;
 left:  var(--panda-left-eye-position-left);
 top:  var(--panda-left-eye-position-top);
 width: 25px;
 height: 25px;
 border:  1px solid;
 border-radius: 50%;   
 background-color: #000;  
}

.panda-right-eye {
 position: absolute;
 z-index: 3;
 left: var(--panda-right-eye-position-left);
 top:  var(--panda-right-eye-position-top);   
 width: 25px;
 height: 25px;
 border:  1px solid;
 border-radius: 50%;   
 background-color: #000;  
}

.panda-mouth {
 position: absolute;
 z-index: 3;
 left: var(--panda-mouth-position-left);
 top:  var(--panda-mouth-position-top);
 width: 60px;
 height: 30px; 
 background-color: #000;
 border-bottom-left-radius: 100px;
 border-bottom-right-radius: 100px; 
 border: 1px solid;
 border-bottom: 0;
}

/* Show and hide Panda */
#slider {
  display: none;   
  width: 100px;
  height: 400px;  
  position: absolute;
  transform: translateX(-1000%);
  -webkit-transform: translateX(-1000%);
  z-index:  9999;
}

.slide-in {
 animation: slide-in 0.5s forwards;
 -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
 animation: slide-out 0.5s forwards;
 -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
 100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
 100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
 0% { transform: translateX(0%); }
 100% { transform: translateX(-1000%); display: none; }
}

@-webkit-keyframes slide-out {
 0% { -webkit-transform: translateX(0%); }
 100% { -webkit-transform: translateX(-1000%); }
}

/* Speech bubble */
.bubble {
 position: relative;
 font-family: sans-serif;
 font-size: 18px;
 line-height: 24px;
 width: 300px;
 background: grey;
 border-radius: 40px;
 padding: 24px;
 text-align: center;
 color: #000;
 border: 1px solid grey;
 left: var(--panda-bubble-position-left);
 top: var(--panda-bubble-position-top);
}

.bubble-bottom-left:before {
 content: "";
 width: 0px;
 height: 0px;
 position: absolute;
 border-left: 24px solid grey;
 border-right: 12px solid transparent;
 border-top: 12px solid grey;
 border-bottom: 20px solid transparent;
 left: 23px;
 bottom: -24px;
}

/* Only show Panda on larger screensizes to prevent responsivness issues */
@media only screen and (min-width: 768px) {
  #slider {
    display: block;
  }
}