
.rabbit-canvas-wrapper {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 120000;
   overflow: hidden;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.rabbit-canvas-wrapper.rabbit-toggle .rabbit-wrapper {
   opacity: 1;
   pointer-events: all;
}

.rabbit-canvas-wrapper.rabbit-blinking .rabbit-eyes {
   animation: rabbit-blinking 7s infinite;
}

.rabbit-canvas-wrapper.rabbit-waving-ears .rabbit-ears.left {
   animation: rabbit-waving-left 7s infinite;
}

.rabbit-canvas-wrapper.rabbit-waving-ears .rabbit-ears.right {
   animation: rabbit-waving-right 7s infinite;
}

.rabbit-wrapper {
   position: absolute;
   width: 174px;
   height: 174px;
   pointer-events: none;
   opacity: 0;
   transition: opacity .25s ease;
   cursor: pointer;
   bottom: -40px;
   left: -40px;
   transform: rotate(30deg);
}

.rabbit-wrapper-inner {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transform: translateY(0);
   filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.3));
}

.rabbit-wrapper-inner::before {
   content: "";
   position: absolute;
   width: 1px;
   height: 20%;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
}

.rabbit-ears {
   position: absolute;
   top: -12%;
   z-index: 2;
   width: 17.5%;
   height: 35%;
   background-color: white;
}

.rabbit-ears.left {
   left: 27%;
   transform: rotate(-5deg);
   border-radius: 95% 35% 0% 0%;
}

.rabbit-ears.right {
   right: 27%;
   transform: rotate(5deg);
   border-radius: 35% 95% 0% 0%;
}

.html.browser-moz.os-mac .rabbit-ears,
  .html.browser-webkit.os-mac .rabbit-ears {
   height: 42%;
   top: -19%;
}

.rabbit-body {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32.5%;
   margin-top: -37.5%;
   background: white;
   width: 65%;
   height: 75%;
   border-radius: 70% 70% 30% 30%;
}

.rabbit-eyes {
   position: absolute;
   top: 28%;
   z-index: 2;
   background-color: #252122;
   width: 5%;
   height: 5%;
   border-radius: 50%;
}

.rabbit-eyes.left {
   left: 35%;
}

.rabbit-eyes.right {
   right: 35%;
}

.rabbit-nose {
   position: absolute;
   top: 38%;
   z-index: 2;
   background-color: #fb67a2;
   width: 3%;
   height: 3%;
   left: 50%;
   margin-left: -1.5%;
   transform: rotate(45deg);
   border-bottom-right-radius: 20%;
}

.rabbit-nose::before, .rabbit-nose::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 100%;
   z-index: 2;
   background-color: #fb67a2;
}

.rabbit-nose::before {
   top: -54%;
   left: 0;
}

.rabbit-nose::after {
   top: 0;
   right: 54%;
}

.rabbit-mouth {
   position: absolute;
   top: 36.5%;
   z-index: 2;
   width: 5%;
   height: 5%;
   border-radius: 50%;
   border: 0.12rem solid #fb67a2;
   border-top-color: transparent;
   border-right-color: transparent;
   transform: rotate(-45deg);
}

.rabbit-mouth.left {
   left: calc(50% - 0.06rem);
}

.rabbit-mouth.right {
   right: calc(50% - 0.06rem);
}

.rabbit-cheek {
   position: absolute;
   top: 35%;
   z-index: 2;
   background-color: #ff79b3;
   width: 7%;
   height: 4%;
   border-radius: 100%;
   box-shadow: 0 0 3px #d595ad;
   opacity: .85;
}

.rabbit-cheek.left {
   left: 30%;
   transform: rotate(5deg);
}

.rabbit-cheek.right {
   right: 30%;
   transform: rotate(-5deg);
}

.rabbit-shadow {
   display: none;
   position: absolute;
   left: 50%;
   bottom: 6.5%;
   transform: translateX(-50%);
   width: 66%;
   height: 12%;
   background-color: rgba(0, 0, 0, 0.08);
   z-index: -1;
   border-radius: 100%;
}



@keyframes rabbit-blinking {
   0%, 32% {
      transform: scale(1, 1);
   }

   34% {
      transform: scale(1, 0.1);
   }

   36%, 78% {
      transform: scale(1, 1);
   }

   80% {
      transform: scale(1, 0.1);
   }

   82%, 100% {
      transform: scale(1, 1);
   }
}

@keyframes rabbit-waving-left {
   0%, 8% {
      border-radius: 35% 95% 0% 0%;
   }

   12% {
      border-radius: 95% 35% 0% 0%;
   }

   16%, 46% {
      border-radius: 35% 95% 0% 0%;
   }

   50% {
      border-radius: 95% 35% 0% 0%;
   }

   54%, 100% {
      border-radius: 35% 95% 0% 0%;
   }
}

@keyframes rabbit-waving-right {
   0%, 8% {
      border-radius: 95% 35% 0% 0%;
   }

   12% {
      border-radius: 35% 95% 0% 0%;
   }

   16%, 46% {
      border-radius: 95% 35% 0% 0%;
   }

   50% {
      border-radius: 35% 95% 0% 0%;
   }

   54%, 100% {
      border-radius: 95% 35% 0% 0%;
   }
}
