

<div class="container">
  <div class="row justify-content-center">    
   <div class="col-lg-8 centered-content">      
      <h1 class="mt-4">{{ article.title }}</h1>      
      <p class="lead">by <a href="/pages/contact">{{ article.author }}</a></p>          
      <hr/>      
      <img class="img-preview" src="{{article.image | img_url: '900x900' }}"/>
      <hr/>      
      <div>{{ article.content }}</div>
      <hr/>       

      <!-- Comments Form -->
      <div class="card my-4 mb-5">
       <h5 class="card-header">Leave a Comment:</h5>
       <div class="card-body">
        
        {% form 'new_comment', article %}
        {{ form.errors | default_errors }}
        
        <div class="form-group row">
          
          <div class="col-12 col-sm-6">            
            <label for="CommentAuthor">Name</label>
            <input type="text" name="comment[author]" class="form-control" id="CommentAuthor" placeholder="Name" value="{{ form.author }}" autocapitalize="words">
          </div>

          <div class="col-12 col-sm-6">
            <label for="CommentEmail">Email</label>
            <input type="email" name="comment[email]" class="form-control" id="CommentEmail" placeholder="Email" value="{{ form.email }}" autocorrect="off"   autocapitalize="off">
          </div>

        </div>

         <div class="form-group">
          <label for="CommentBody">Message</label>
          <textarea name="comment[body]" class="form-control" id="CommentBody" placeholder="Message">{{ form.body }}</textarea>            
         </div>                

         <input type="submit" value="Submit" class="btn btn-secondary">
         
         {% endform %}

      </div>
   </div>

   <!-- Display comments -->

  {% if blog.comments_enabled? %}
    
    {% if article.comments_count > 0 %}<h2>{{ article.comments_count }} comments</h2>{% endif %}
    {% paginate article.comments by 5 %}
      
      {% for comment in article.comments %}
      
        <div class="media-body">
           <h5 class="mt-0">{{ comment.author }} : {{ comment.created_at }}</h5>
           {{ comment.content }}
        </div>        
      
      {% endfor %}

      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}
  
  {% endif %}
   
   </div>
 </div>
</div>