
  <div class="row">
    <div class="col-12 mt-4">      
      <h1>All Articles</h1>    
      <hr>    
    </div>
  
  <div class="row full-width mb-5">    
    {% for article in blogs.articles.articles  %}

    <div class="col-9 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-4 align-items-stretch">
     <a href="{{ article.url }}"> 
      <div class="card h-100 w-100">
        <img class="img-responsive img-fluid card-img-top height-250" src="{{article.image | img_url: '900x900'}}"/ >            
        <div class="card-body item-backgorund text-left card-block d-flex flex-column">
          <h4 class="card-title text-black">{{ article.title}}</h4>             
        </div>  
      </div>  
    </a>               
  </div>       
  

  {% endfor %}          
</div>

</div>
