
<div class="row justify-content-center">   
  <div class="col-lg-8 mt-5 centered-content">     
    <div class="card">
      <img  class="card-img-top img-fluid" src="{{ product.featured_image.src | img_url: '900x900' }}" alt="{{ product.featured_image.alt | escape }}">   
      <div class="card-body">
      <div class="row mt-5 centered-content justify-content-center">
        <div class="col-12 centered-content">{{ product.description }}</div>
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-4 mt-5 centered-content">
    <h1>{{ product.title }}</h1>
    <a id="product-link" target="_blank" href="#" class="col-12 centered-content btn btn-secondary btn-lg btn-block text-truncate mt-auto text-color-light">Preview Theme</a>
    <div class="row">
       <div class="col-12">
         <p class="mt-2"><span><b>Please get in touch if you are interested in the Theme.</b></span></p>          
       </div>
    </div>

      {%- assign formId = 'ContactForm' -%}
      {% form 'contact', id: formId %}  
      {{ form.errors | default_errors }}

      <div class="form-group row">

      <div class="col-12 col-sm-6">            
        <label for="CommentAuthor">Name</label>
        <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="form-control bg-color-light" required>      
      </div>

      <div class="col-12 col-sm-6">
        <label for="CommentEmail">Email</label>      
        <input
        class="form-control bg-color-light"
        type="email"
        id="{{ formId }}-email"
        name="contact[email]"
        autocorrect="off"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        required      
        >
      </div>

   </div>

   <div class="form-group">
     <label for="CommentBody">Message</label>    
     <textarea class="form-control bg-color-light" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
   </div>                

   <input type="submit" value="{{ 'contact.form.submit' | t }}" class="btn btn-secondary">

   {% endform %}

    {% comment %}{% if cart.item_count != 0 %}  
    <form action="https://slickthemes.org/cart" method="get" enctype="multipart/form-data" id="AddToCartForm">             
      <div class="form-group row">
        <div class="col-12"> 
          <p><strong>{{ product.price | money_with_currency }}</strong></p>
          <button class="btn btn-secondary" type="submit" name="add" id="AddToCart">Add to cart</button>
        </div>
      </div>
    </form>
    {% else %}
    <form action="/cart/add/{{ product.variants.first.id }}" method="post" enctype="multipart/form-data" id="AddToCartForm">             
      <div class="form-group row">
        <div class="col-12"> 
          <p><strong>{{ product.price | money_with_currency }}</strong></p>
          <button class="btn btn-secondary" type="submit" name="add" id="AddToCart">Add to cart</button>
        </div>
      </div>
    </form>
    {% endif %}{% endcomment %}
  </div>  
</div>